/* Reset default list styles */
/* .artist-item.loading .artist-info::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

.loader{
    position: fixed;
    top :0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid pink;
    border-top-color: purple;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }to{
        transform: rotate(1turn);
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style for each artist item */
.artist-item {
    display: inline-block;
    margin: 10px;
}

/* Style for artist information container */
.artist-info {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect */          
.artist-item:hover .artist-info {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

/* Style for artist image */
.artist-image {
    max-width: 100%;
    height: auto;
}

/* Style for artist name */
.artist-name {
    font-weight: bold;
    margin-top: 10px;
}

/* Style for artist creation date */
.artist-creation-date {
    color: #666;
}
