{{template "base" .}}

{{define "content"}}

    <h1>Artist</h1>
    {{$a := index .Data "Artist"}}

    <ul class="artist-page">
        <li class="artist-item">
            <img class="artist-image" src="{{$a.Image}}" alt="">
            <p class="artist-name">{{$a.Name}}</p>
            <p class="artist-creation-date">{{$a.CreationDate}}</p>
            <p class="members">
                {{range $a.Members}}
                <ul>
                    <li>{{.}}</li>
                </ul>
                {{end}}
            </p>
            <p class="firstAlbum">{{$a.FirstAlbum}}</p>
            <pre>{{$a.GetLocationAndData}}</pre>
        </li>
    </ul>

{{end}}
